@model IEnumerable<HotelBooking.Model.Reatraurant.RestaurantTables>
@{
    var nTables = ViewBag.nTables;
}
@if (Model != null)
{
    var i = 1;
    foreach (var rt in Model)
    {
        var txtId = rt.TableId.ToString() +"-"+ rt.RestaurantId.ToString();
        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
            <label>Table @i</label>
            <input type="text" id="@txtId" class="full-width" placeholder="Seating Par Table Capacity" value="@rt.NoOfSeat" runat="server">
        </div>
        i++;
    }
}

