
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Hotels:I-Manage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/css/login-new.css" rel="stylesheet" />
</head>
<body class="home-intro">
    <section class="login-form-wrap">
        <h1>Seesion Logout</h1>

        <div class="login-form">
            <form method="post" action="./" id="form1">
                <p>
                    Click here to return to the <a href="/">Login</a> page
                </p>

                <span id="lblMsg" style="color:Red;"></span>
            </form>
        </div>
    </section>
</body>
</html>
