<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>Hi #GuestName#</p>

    <p>Your upcoming stay at #propertyname# is confirmed – Confirmation #[#BookingREF#]</p>
    <p>This email has everything you need for a seamless check-in process on (check-in date).</p>

    <p>Reservation : # [#BookingREF#]</p>

    <p>Guest name: #GuestName#</p>

    <p>Number of nights: #nights#</p>

    <p>Arrival date: #startdate#</p>

    <p>Departure date: #enddate#</p>

    <p>Check-in:  #Check-in-Time#</p>

    <p>Check-out: #Check-out-Time#</p>

    <p>Address: #HotelAddress#</p>

    <p>Parking information:</p>

    <p>
        Important information: [e.g. House rules, announcements, policies, payment details, WiFi information, etc]

        Check out our local guide for personalized recommendations on the best places to eat, visit, and explore.

        If you need to make any changes or have any questions, please call me at [phone] or email at [email].
    </p>

    <p>See you soon!</p>

    Team #HotelName#
</body>
</html>